@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    
}

#logo{
    position: flex;
    color: white;
    top: 23px;
    justify-content: flex-start;
    align-content: center;
    font-size: 19px;
    padding: 12px;
}

.nav-bar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,73,121,1) 50%, rgba(0,212,255,1) 100%);
    position: fixed;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    margin-top: 10px;
    left: 60px;
    z-index: 1;
}


.nav-bar a{
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 11px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.nav-bar a:hover{
    text-decoration: underline 0.15em white;
    text-underline-offset: 0.2em;
    opacity: 1;
    transform: translateX(2px);
}



.home-content{
    position: relative;
    color: black;
    top: 150px;
    left: 120px;
    margin: 40px;
    display: inline-block;

}

.school{
    font-size: 18px;
    font-weight: bold;
}

.profile-picture{
    width: 20vw;
    position: absolute;
    left: 800px;
    top: 120px;
    border-radius: 25px;
}

.social-media{
    display: flex;
    justify-content: center;
}

.fa-github:hover{
    color: rgb(63, 62, 62);
}

.fa-linkedin{
    color: #0762C8;
}

.fa-linkedin:hover{
    color: #217ee8;
}

.fa-envelope{
    color: #c71610;
}

.fa-envelope:hover{
    color: #e07b0e;
}

.fa-facebook{
    color: #1877F2;
}

.fa-facebook:hover{
    color: #3d89ee;
}

.social-media a{
    padding: 15px;
    font-size: 35px;
    color: black;
    position: relative;
    top: 250px;
}

.home-page-title{
    position: relative;
    color: black;
    font-size: 50px;
}

.download-resume{
    margin-top: 17px;
    border: none;
    color: white;
    background-color: rgb(7, 2, 105);
    padding: 12px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}

.download-resume:hover{
    background-color: rgb(13, 127, 209);
    box-shadow: 0 0 5px rgba(0,212,255,1);
}


.background{
    background-color: rgb(216, 214, 214);
    height: 300px;
    margin-top: 250px;
    width: 100%;
}

.title{
    position: relative;
    color: black;
    font-size: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.header:hover{
    color: rgb(13, 127, 209);
    transition: 1s;
}

.about-content{
    text-align:justify;
    width: 100%;
    display: flex;
    padding: 12px 80px 12px 80px;
}


.projects{
    height: 600px;
    display: grid;
    
}
